CACHE_URL=redis://localhost:6379

AI_API_KEY=gsk_example1234567890
AI_MODEL=qwen/qwen3.8-27b

# ======= JWT =======
# You can generate one with command "make generate-key"
JWT_SECRET_KEY=change-to-your-secret-key

# ======= DATABASE CONFIG =======
DB_NAME=database-example
DB_USER=user-example
DB_PASSWORD=super-secret

MONGO_URL=mongodb://admin:secret@localhost:27017